/* Import Mantine styles first */
@import "@mantine/core/styles.css";
@import "@mantine/notifications/styles.css";

/* Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  margin: 0 !important;
  min-width: 376px;
}

* {
  box-sizing: border-box;
}

/* Light mode */
:root[data-mantine-color-scheme="light"] {
  --mantine-font-family: "Gilroy-Medium";
  --mantine-color-body: #f4f4f8;
  --border-color: var(--border-color-light);
  --card: var(--mantine-color-white);
}

/* Dark mode */
:root[data-mantine-color-scheme="dark"] {
  --mantine-color-body: var(--mantine-color-dark-7);
  --border-color: var(--mantine-color-gray-4);
  --card: var(--mantine-color-dark-8);
}
